/*Sections*/

/*Perfil*/
.profile-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

/*Layout*/
.about-content,
.image-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/*Título*/
.about-content h1 {
    font-size: 5rem;
    padding-bottom: 3rem;
}

/*Descrição*/
.about-content p {
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

/*Imagem*/
.image-menu img {
    max-width: 80%;
    max-width: 100%;
    height: auto;
}

/*Experiência*/
.experience-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    flex-wrap: nowrap;
}

/*Título*/
.experience h1 {
    font-size: 5rem;
    padding-bottom: 3rem;
}

/*Empresas*/
.experience-cards {
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
}

/*Descrição*/
.company-name h2 {
    font-size: 3.5rem;
}

.company-description {
    font-size: 2rem;
    padding: 0 2rem 2rem 3rem;
}








/*Formação Acadêmica*/
.formacao-academica-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

/*Certificados*/
.certificados-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

/*Competências*/
.competencias-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    min-height: 100vh;
}

/*Contato*/
.contato-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.detalhes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    gap: var(--gap);
    counter-reset: counter-grid;
}

.main-detalhes {
    margin-bottom: 2rem;
}

.description-detalhes {
    padding-bottom: 7rem;
}

.detalhes-grid h3 {
    position: relative;
    font-size: 5rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.detalhes-grid h3::before {
    counter-increment: counter-grid;
    content: counter(counter-grid);
    position: absolute;
    font-size: 3rem;
    font-style: italic;
    top: -1rem;
    left: -1rem;
    transform: rotate(30%);
}


.galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
}

.main-galeria {
    margin-bottom: 2rem;
    padding-bottom: 7rem;
}

.galeria-grid h3 {
    position: relative;
    font-size: 5rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.galeria-card {
    width: 100%;
    max-width: 40rem;
    max-height: 40rem;
    overflow: hidden;
}

.galeria-card img {
    transition: all 300ms ease-in-out;
    max-width: 100%;
}

.galeria-card img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}


.main-valores {
    margin-bottom: 2rem;
    padding-bottom: 7rem;
}

.resposive-table {
    overflow: hidden;
    overflow-x: auto;
}

.contact {
    grid-column: 2;
}


.contact-content h2 {
    text-align: center;
}

.form-grid,
.form-group button {
    text-align: right;
}

.contact .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    text-align: left;
    margin-bottom: 5rem;
}

.form-group {
    flex: 1 1 320PX;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    padding: 1rem 2rem;
    width: 100%;
    font-size: 2rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.3rem solid var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: var(--secondary-color);
    background: var(--primary-color);
}

.form-group button:hover {
    color: var(--secondary-color);
    border: 0.3rem solid var(--tertiary-color);
    background: var(--tertiary-color);
    transform: scale(1.07);
}

.form-group ::placeholder {
    color: var(--tertiary-color);
}

.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--tertiary-color);
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--secondary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

.back-to-top:hover {
    width: 8rem;
    height: 8rem;
    transition: all 300ms ease-in-out;
    max-width: 100%;
}

.back-to-top h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.back-to-top h1:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    transition: all 600ms ease-in-out;
    max-width: 100%;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}