@import '../global/Global.css';
@import '../global/Themes.css';
@import '../global/Sections.css';
@import '../global/Buttons.css';

/*Perfil*/
.profile-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

/*Profile*/
.about-content h1 {
    margin-bottom: var(--margin-bottom);
}

.about-content p {
    margin-bottom: var(--margin-bottom);
}

.image-menu img {
    max-width: 80%;
    max-width: 100%;
    height: auto;
}

/*Experiência*/
.experience h1 {
    margin-bottom: var(--margin-bottom);
}

.company-description {
    margin: var(--margin-bottom);
}

/*Formação Acadêmica*/
.academic-training h1 {
    margin-bottom: var(--margin-bottom);
}

.details-card {
    margin-bottom: var(--margin-bottom);
}

.details-card h2 {
    padding-bottom: 1rem;
}

/*Tecnologias*/
.section,
.technologies-content {
    display: block;
}

.technologies h1 {
    display: flex;
    margin-bottom: 5rem;
    margin-top: 10%;
}

.technologies-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo-grid-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.logo-grid-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.logo-card {
    transition: 0.5s ease;
    cursor: pointer;
    width: 20%;
}

.logo-card img {
    max-width: 50%;
}

.technologies-logo:hover .logo-grid-l>:not(:hover),
.technologies-logo:hover .logo-grid-r>:not(:hover) {
    opacity: 0.3;
}

.logo-card:hover {
    transform: scale(1.1);
}

/* Contact */
.contact-content {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    min-height: 100vh;
    width: 70%;
}

.contact h1 {
    margin-bottom: var(--margin-bottom);
}

.form-group input,
.form-group textarea {
    padding: 1rem 2rem;
    width: 100%;
}

.form-field {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.input-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--tertiary-color);
    outline: 0;
    color: var(--secondary-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input-field::placeholder {
    color: transparent;
}

.input-field:placeholder-shown~.form-label {
    cursor: text;
    top: 20px;
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: var(--quintennial-color);
    pointer-events: none;
}

.input-field:focus~.form-label {
    top: 0;
    color: var(--tertiary-color);
    font-weight: 700;
}

.input-field:focus {
    font-weight: 700;
    border-image: linear-gradient(to right, var(--tertiary-color), var(--quaternary-color));
    border-image-slice: 1;
}

/* Reset input validation visual */
.input-field:required,
.input-field:invalid {
    box-shadow: none;
}