/*Botão Enviar Formulário*/
.send-form {
    display: flex;
    justify-content: right;
    margin-top: 7rem;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--tertiary-color);
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: var(--quaternary-color);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

/*Botão para voltar ao início da página*/
.back-to-top {
    position: fixed;
    background: var(--primary-color);
    color: var(--secondary-color);
    bottom: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.back-to-top p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.back-to-top:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    transition: all 200ms ease-in-out;
    max-width: 100%;
}

/*Theme Toggle*/
input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.slider {
    position: fixed;
    bottom: 90%;
    width: 6rem;
    right: 2rem;
    height: 3.2rem;
    background: var(--primary-color);
    border-radius: 24px;
    transition: background 0.3s;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider:after {
    content: "🌙";
    position: absolute;
    left: 3px;
    top: 37%;
    transform: translateY(-50%);
    font-size: 18px;
    transition: 0.4s;
}

input:checked+.slider:after {
    content: "☀️";
    left: 3rem;
    top: 53%;
}