main {
    display: block;
}

.section {
    min-height: 100vh;
    max-height: auto;
}

.section-content {
    max-width: 200rem;
    margin: auto auto;
    padding: var(--gap);
}

.bg-black {
    background-image: url("../../assets/images/bg-black.svg");
    background-size: cover;
    background-position: center center;
    color: var(--secondary-color);
}

.bg-white {
    background-image: url("../../assets/images/bg-white.svg");
    background-size: cover;
    background-position: center center;
    color: var(--primary-color);
}

.bg-technologies {
    background-image: url("../../assets/images/technologies.png");
    background-size: cover;
    background-position: center center;
    color: var(--primary-color);
    width: 100%;
    height: 100%;
}