.home-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.home-text-content,
.menu-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.menu-img img {
    max-width: 80%;
}

.home-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}

.servicos-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.detalhes-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.detalhes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    gap: var(--gap);
    counter-reset: counter-grid;
}

.main-detalhes {
    margin-bottom: 2rem;
}

.description-detalhes {
    padding-bottom: 7rem;
}

.detalhes-grid h3 {
    position: relative;
    font-size: 5rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.detalhes-grid h3::before {
    counter-increment: counter-grid;
    content: counter(counter-grid);
    position: absolute;
    font-size: 3rem;
    font-style: italic;
    top: -1rem;
    left: -1rem;
    transform: rotate(30%);
}

.galeria-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
}

.main-galeria {
    margin-bottom: 2rem;
    padding-bottom: 7rem;
}

.galeria-grid h3 {
    position: relative;
    font-size: 5rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.galeria-card {
    width: 100%;
    max-width: 40rem;
    max-height: 40rem;
    overflow: hidden;
}

.galeria-card img {
    transition: all 300ms ease-in-out;
    max-width: 100%;
}

.galeria-card img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.valores-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.main-valores {
    margin-bottom: 2rem;
    padding-bottom: 7rem;
}

.resposive-table {
    overflow: hidden;
    overflow-x: auto;
}

.contact {
    grid-column: 2;
}

.contact-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.contact-content h2 {
    text-align: center;
}

.form-grid,
.form-group button {
    text-align: right;
}

.contact .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    text-align: left;
    margin-bottom: 5rem;
}

.form-group {
    flex: 1 1 320PX;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    padding: 1rem 2rem;
    width: 100%;
    font-size: 2rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.3rem solid var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: var(--secondary-color);
    background: var(--primary-color);
}

.form-group button:hover {
    color: var(--secondary-color);
    border: 0.3rem solid var(--tertiary-color);
    background: var(--tertiary-color);
    transform: scale(1.07);
}

.form-group ::placeholder {
    color: var(--tertiary-color);
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--tertiary-color);
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--secondary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

.back-to-top:hover {
    width: 8rem;
    height: 8rem;
    transition: all 300ms ease-in-out;
    max-width: 100%;
}

.back-to-top h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.back-to-top h1:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    transition: all 600ms ease-in-out;
    max-width: 100%;
}

@media (max-width: 800px) {

    .menu-content,
    .detalhes-grid {
        grid-template-columns: 1fr;
    }

    .galeria-card {
        width: 70%;
        max-width: 40rem;
        max-height: 40rem;
        margin-bottom: 3rem;
        display: block;
        margin: 1rem auto;
    }

    .galeria-card img {
        width: 100%;
    }

    .galeria-grid,
    .galeria-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .menu ul li a {
        font-size: 2.8rem;
    }

    .menu h1 {
        font-size: 3.3rem;
        padding-bottom: 5rem;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        top: 2rem;
        right: 2rem;
        background: var(--tertiary-color);
        color: var(--secondary-color);
        font-size: 4rem;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        z-index: 2;
        border-radius: 10%;
    }

    .close-menu-label:hover::after {
        transition: all 300ms ease-in-out;
        font-size: 5rem;
        line-height: 5rem;
        height: 5rem;
        width: 5rem;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '✖';
    }
}